/out/
/package-lock.json
/resources/public/css/cake.css
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log
.*.swp

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/shadow-cljs.edn
/.shadow-cljs/
